.input {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 800px;
}

.searchBar {
    margin: 0 40px 0 0;
}

.inputSpace {
    flex: 1;
}


.result {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
}

.actionItems {
    display: flex;
    gap: 6px;
}

.editIcon {
    color: rgb(255, 255, 0);
}

.deleteIcon {
    color: rgb(187, 2, 2);
}

.checkIcon {
    color: rgb(0, 236, 0);
}

.cancelIcon {
    color: rgb(10, 10, 10);
}

input {
    flex: 1;
    height: 20px;
    width: 150px;
    background-color: transparent;
    font-size: 15px;
    border-width: 1px;
    border-style: dotted;
}

input:disabled {
    border-style: none;
}

.modalSpace {
    margin: 40px;
}

.buttonSpace {
    margin: 60px;
}